$bdColor: #e9e9e9;
$shadow: 0 0 6px rgba(48,42,37,0.3);
$radius: 3px;
$color: #333;
$color8D: #8d8d8d;
$color7C: #7c7c7c;
$green: #64cc40;
$font14: 14px;
$blue: #2db7f5;
$red: #ff596c;
@mixin shadow($shadow) {
  box-shadow: $shadow;
}
@mixin radius($radius) {
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  border-radius:$radius;
}
.font16 {
  font-size: 16px;
}
.color8d {
  color: $color8D;
}
.bl {
  border-left: 1px solid $bdColor;
}
.bb {
  border-bottom: 1px solid $bdColor;
}
.br {
  border-right: 1px solid $bdColor;
}
#orders-detail {
  .detail-box {
    padding: 20px;
    background-color: #fff;
    @include radius($radius);
    @include shadow($shadow);
  }
  .status {
    padding: 10px 0 30px;
    text-align: center;
    .ant-row-flex .ant-col-4:nth-child(2n) .icon:before,
    .ant-row-flex .ant-col-4:last-child .icon:after {
      display: none;
    }
    .icon {
      position: relative;
      margin: 10px 0 8px 0;
      @mixin line($zindex, $top, $height, $bg) {
        content: '';
        position: absolute;
        left: 50%;
        z-index: $zindex;
        width: 100%;
        top: $top;
        height: $height;
        background-color: $bg;
      }
      &:after {
        @include line(0, 13px, 8px, #ececec);

      }
      &.success {
        &:before {
          @include line(1, 16px, 2px, #35d672);
        }
      }
    }
    @mixin prz {
      position: relative;
      z-index: 2;
    }
    .anticon-check-circle {
      @include prz;
      font-size: 24px;
      color: #35d672;
      border: 4px solid #ececec;
      border-radius: 50%;
      background-color: #fff;
    }
    .step {
      @include prz;
      width: 32px;
      height: 32px;
      margin: auto;
      line-height: 24px;
      border-radius: 50%;
      border: 4px solid #ececec;
      background-color: #fff;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }
  }
  .detail {
    .tit {
      height: 45px;
      margin-bottom: 5px;
      padding: 0 20px;
      line-height: 45px;
      background-color: #f4f4f4;
    }
    .item {
      margin: 15px 20px;
      &.delivery {
        position: relative;
        margin-top: 50px;
        .anticon {
          position: absolute;
          top: -10px;
          left: -53px;
          font-size: 42px;
          &.anticon-info-circle-o {
            color: $blue;
          }
          &.anticon-check-circle-o {
            color: $green;
          }
          &.anticon-exclamation-circle-o {
            color: $red;
          }
        }
      }
      .hd {
        float: left;
        width: 90px;
        color: $color8D;
      }
      .bd {
        float: left;
        max-width: 258px;
      }
      .icon-edit:before {
        content: '\e623';
        margin-left: 15px;
        color: #b2b2b2;
      }
      .lastly {
        color: #f7a70c;
        margin-left: 20px;
      }
    }
    .gray {
      color: $color8D;
    }
    .goods-info {
      .img {
        float: left;
        width: 66px;
        height: 66px;
      }
      .txt {
        float: left;
        margin-left: 15px;
        .name {
          width: 240px;
          height: 46px;
          margin-top: -6px;
          line-height: 24px;
          overflow: hidden;
          margin-bottom: 12px;
          color: $color8D;
        }
        .price {
          line-height: 1;
          .num {
            margin-left: 12px;
          }
        }
      }
    }
  }
  .detail-table {
    margin-top: 32px;
    table {
      border: 1px solid $bdColor;
      border-bottom: none;
      th {
        padding: 12px 18px;
      }
      td {
        padding: 18px;
        vertical-align: top;
      }
      .last {
        padding-left: 30px;
      }
      .mt36 {
        margin-top: 24px;
      }
      .count {
        text-align: right;
        line-height: 24px;
      }
    }
  }
  #more {
    position: relative;
    padding: 0 50px 30px 20px;
    color: $color8D;
    .anticon-down {
      margin-left: 4px;
      font-size: 9px;
    }
    &:hover .delivery-detail {
      display: block;
    }
  }
  .delivery-detail {
    display: none;
    position: absolute;
    right: -30px;
    z-index: 2;
    width: 665px;
    color: $color;
    margin-top: 10px;
    padding: 28px 20px 0 108px;
    background-color: #fbfbfb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: $shadow;
    .date {
      font-weight: 600;
      position: absolute;
      top: 0;
      left: -82px;
    }
    .time {
      margin-right: 15px;
      color: $color;
    }
    .ant-timeline-item-tail {
      position: absolute;
      left: 3px;
      top: 10px;
      bottom: 3px;
      border-left: 1px solid #e9e9e9;
    }
    .ant-timeline-item-head {
      top: 3px;
      width: 7px;
      height: 7px;
      background-color: #d5d5d5;
    }
    .ant-timeline-item-head-blue {
      border: none;
      color: transparent;
    }
    .ant-timeline-item-content {
      padding-left: 19px;
      padding-bottom: 3px;
    }
    .ant-timeline-item-last {
      .ant-timeline-item-content {
        min-height: 32px;
        color: #f7a70c;
      }
      .ant-timeline-item-head {
        background-color: $red;
        &:before {
          content: '';
          position: absolute;
          top: -3px;
          left: -3px;
          width: 13px;
          height: 13px;
          border: 1px solid rgba(255,89,108,0.2);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
        }
      }
    }
  }
}
.ant-input,
.ant-select-selection {
  @include radius($radius);
  border-color: $bdColor;
}
.edit-remark {
  margin: 10px 28px 40px 12px;
  .tit {
    display: block;
    margin-bottom: 8px;
  }
  .help {
    margin-top: 7px;
    font-size: 14px;
    color: $color8D;
  }
}
.edit-info {
  margin: 20px 0 15px 0;
  .ant-form-item-label label {
    color: $color;
  }
  .ant-input-group>[class*=col-] {
    padding-right: 0;
  }
  .ant-input-group {
    .ant-input {
      border-radius: 0 0 3px 3px;
    }
    .ant-select {
      vertical-align: top;
      color: $blue;
    }
    .ant-select-selection {
      margin-right: -1px;
      border-radius: 3px 0 0 3px;
    }
    .ant-select-open .ant-select-selection,
    .ant-select-focused .ant-select-selection,
    .ant-select-selection:active,
    .ant-select-selection:focus,
    .ant-select-selection:hover {
      margin-right: 0;
    }
    .ant-select-arrow {
      top: 32%;
      font-size: 10px;
      color: #b2b2b2;
      &:before {
        content: "\E610";
      }
      &:after {
        display: block;
        font-family: anticon!important;
        margin-top: 2px;
        content: "\E611";
      }
    }
    .ant-select-open .ant-select-arrow:before {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
}
.edit-intro-modal {
  .ant-form-item {
    margin-bottom: 16px;
  }
}
