.custom-con {
  width: 1050px;
  margin: 0 auto;
}
.custom-top {
  background: #f7f7f7;
  border-radius: 5px;
  padding: 20px 92px;
  position: relative;
  margin-bottom: 22px;

  &:before {
    content: '';
    position: absolute;
    background: url("../assets/info.png") no-repeat;
    width: 38px;
    height: 38px;
    left: 35px;
    top: 35px;
  }

  & .text {
    color: #8d8d8d;
    margin-top: 8px;
  }

  & .text-s {
    color: #8d8d8d;
    position: relative;
    padding-left: 19px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      background: url("../assets/star.png") no-repeat;
      width: 14px;
      height: 15px;
    }
  }
}
.custom-right {
  float: right;
}
.custom-left {
  float: left;
  width: 640px;
  background: #f7f7f7;
  padding: 17px 36px;
}
.custom-left-title {
  border-bottom: 1px solid #e7e7eb;
  padding-bottom: 12px;

  & label {
    margin-right: 7px;
  }
}
.custom-list {
  padding: 36px 40px;
  width: 568px;
  overflow: hidden;
}
.custom-add {
  float: left;
  width: 230px;
  height: 132px;
  line-height: 172px;
  text-align: center;
  color: #8d8d8d;
  background: #fff url("../assets/add.png") no-repeat 100px 40px;
  border: 1px dashed #d9dadc;
  cursor: pointer;
  margin-right: 32px;
}
.custom-item {
  float: left;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  margin-right: 32px;
  margin-bottom: 32px;
  cursor: move;
  border-bottom: 2px solid #f7f7f7;
}
.custom-item-sys {
  border-bottom: 2px solid #ef891c;
}
.custom-item-top {
  position: relative;
  width: 230px;
  height: 100px;

  img {
    display: block;
    width: 230px;
    height: 100px;
  }

  .custom-name {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.7);
    width: 100%;
    left: 0;
    color: #fff;
    font-size: 12px;
    padding: 8px 5px;
    line-height: 1;
  }
}
.custom-list-con {
  width: 600px;
}
.custom-icon {
  float: right;

  .iconfont {
    display: block;
    float: left;
    width: 32px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    border-left: 1px solid #ebebeb;
    cursor: pointer;
    color: #9b9b9b;

    &:hover {
      color: #333333;
    }

    &.active {
      color: #ff596c;
    }
  }
}
.custom-notification {
  margin-top: 36px;
  background: #fff7e4 url("../assets/notification.png") no-repeat 23px 19px;
  border: 1px solid #ffeec8;
  border-radius: 10px;
  line-height: 1;
  padding: 24px 54px;
}
