.order-info{
  overflow: hidden;
  position: relative;
  .goods-img{
    display: block;
    float: left;
    width: 66px;
    height: 66px;
  }
  .goods-name{
    float: left;
    padding: 10px;
    color: #8d8d8d;
    width: 250px;
  }
  .goods-time{
    padding: 10px;
    float: left;
    span{
      padding-left: 20px;
      color: #8d8d8d;
    }
  }
  .goods-excel{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 15px;
  }
}
.order-total{
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  .item:nth-child(1){
    border-bottom: 3px solid #a3b8ec;
  }
  .item:nth-child(2){
    border-bottom: 3px solid #70d5ed;
  }
  .item:nth-child(3){
    border-bottom: 3px solid #f0cb77;
  }
  .item:nth-child(4){
    border-bottom: 3px solid #f6a3a2;
    margin-right: 0;
  }
  .item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #f8fafb;
    padding: 30px 0;
    margin-right: 45px;
    border-radius: 5px;
    text-align: center;

    .number{
      font-size: 22px;
    }
    .text{
      color: #8d8d8d;
    }
  }
}