.not-fount-con {
  width: 750px;
  margin: 0 auto;
  border-radius: 5px;
  background: #fff;
  padding: 50px 12px;
}
.not-fount-margin {
  padding-top: 36px;
}
.not-fount-left {
  float: left;
  margin-left: 200px;
}
.not-fount-right {
  float: left;
  margin-left: 30px;

  img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
