.ward-top {
  margin-top: 24px;
  margin-bottom: 15px;
  display: flex;
}
.ward-item {
  background: #4a8cf6;
  flex: 1;
  text-align: center;
  color: #fff;
  padding: 26px 0;
  position: relative;

  span {
    display: block;
    font-size: 26px;
  }
}
.ward-item-before {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:after {
    content: '';
    height: 56px;
    width: 1px;
    background: #396cbd;
    position: absolute;
    right: 0;
    top: 28px;
  }
}
.ward-item-after {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ward-item-all {
  background: #00d690;
  margin-left: 16px;
  border-radius: 3px;

  em {
    font-size: 14px;
    display: inline-block;
    border: 1px solid rgba(255,255,255,.5);
    padding: 1px 8px;
    font-style: normal;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    border-radius: 3px;
  }
}
.type-margin {
  margin-right: 22px;
}
.ward-c {
  margin-top: 32px;
  margin-bottom: 28px;
}
.ward-c-item {
  color: #8d8d8d;
  padding-left: 18px;
  position: relative;
  display: inline-block;
  margin-right: 48px;

  span {
    font-size: 18px;
    margin-left: 8px;
    vertical-align: -1px;
    color: #333;
  }

  &:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 0;
  }
}
.ward-blue:before {
  background: #00b9fb;
}
.ward-green:before {
  background: #2edca3;
}
.ward-red:before {
  background: #ff596c;
}
.ward-orange:before {
  background: #fabe1d;
}
.ward-export {
  float: right;
  margin-top: 4px;
}
.reward-table {
  .book-name {
    float: left;
    width: 260px;
    margin-top: 2px;
    color: #8d8d8d;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .book-image {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}
